@font-face {
    font-family: Jeopardy;
    src: url(./gyparody.ttf)
}

.wrapper {
     display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.top-panel {
   flex: 0 0 65%;
   padding: 50px;
   margin: 0px;
   text-align: center;
   background-color: green;
   font-family: Jeopardy; font-size: 72px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 26.4px;
}

.bottom-panel {
    
    text-align: center;
    flex: 1;
    padding: 10px;
    font-size: 24px;
    margin: 0px;
}

.questions {
    
    font-size: 18px;
    padding: 10px;
}