@font-face {
    font-family: Jeopardy;
    src: url(./gyparody.ttf)
}

.wrapper {
    
}

.top-panel {
    background-color: green;
    font-family: Jeopardy; font-size: 48px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 26.4px;
}

.bottom-panel {
    text-align: center;
}